<header class="flex justify-between items-center px-4 py-2 shadow-md bg-white">
  <!-- Company Name -->
  <div class="flex items-center space-x-4">
    <span (click)="home()" class="text-lg font-bold text-[#0052CC] hover:cursor-pointer"
      >Jira Board System</span
    >

    <!-- Dropdowns visible when user is logged in -->
    <ng-container *ngIf="isLoggedIn | async">
      <mat-menu #boardMenu="matMenu">
        <button
          (click)="openBoard(board.id)"
          *ngFor="let board of boards"
          mat-menu-item
        >
          {{ board.boardName }}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="boardMenu" class="text-gray-700">
        Boards <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ng-container>
  </div>

  <!-- Login/Profile Section -->
  <div>
    <ng-container *ngIf="isLoggedIn | async; else loginButton">
      <mat-menu #profileMenu="matMenu">
        <button (click)="openProfile()" mat-menu-item>Profile</button>
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
      <button [matMenuTriggerFor]="profileMenu" aria-label="User Profile">
        <mat-icon>account_circle</mat-icon>
      </button>
    </ng-container>
    <ng-template #loginButton>
      <button mat-button class="text-blue-600" (click)="login()">Login</button>
    </ng-template>
  </div>
</header>
