<div class="max-w-lg mx-auto p-3 bg-white shadow-md rounded-md overflow-y-scroll scroll h-[550px] w-[750px]">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-1">
    <div class="flex items-center">
      <label class="w-32 text-right mr-4" for="project">Project</label>
      <mat-form-field class="w-full">
        <mat-select
          formControlName="project"
          id="project"
          placeholder="Select Project"
          (selectionChange)="updateBoardId($event)"
        >
          <mat-option *ngFor="let project of projects" [value]="project.id">{{
            project.boardName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="!isEpic" class="flex items-center">
      <label class="w-32 text-right mr-4" for="sprint">Sprint</label>
      <mat-form-field class="w-full">
        <mat-select
          formControlName="sprint"
          id="sprint"
          placeholder="Select Sprint"
        >
          <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">{{
            sprint.sprintName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex items-center">
      <label class="w-32 text-right mr-4" for="issueType">Issue Type</label>
      <mat-form-field class="w-full">
        <mat-select
          formControlName="issueType"
          id="issueType"
          placeholder="Select Issue Type"
          (selectionChange)="checkStoryType($event)"
        >
          <mat-option *ngFor="let type of issueTypes" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex items-center">
      <label class="w-32 text-right mr-4" for="title">Title</label>
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="title"
          id="title"
          placeholder="Enter title"
        />
      </mat-form-field>
    </div>

    <div *ngIf="!isEpic" class="flex items-center">
      <label class="w-32 text-right mr-4" for="storyPoint">Story Point</label>
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="storyPoint"
          id="storyPoint"
          placeholder="Enter Story Point"
        />
      </mat-form-field>
    </div>

    <div class="flex items-center">
      <label class="w-32 text-right mr-4" for="reporter">Reporter</label>
      <mat-form-field class="w-full">
        <mat-select
          formControlName="reporter"
          id="reporter"
          placeholder="Select Reporter"
        >
          <mat-option
            *ngFor="let reporter of reporters"
            [value]="reporter.id"
            >{{ reporter.userName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex items-center">
      <label class="w-32 text-right mr-4" for="description">Description</label>
      <mat-form-field class="w-full">
        <textarea
          matInput
          formControlName="description"
          id="description"
          placeholder="Enter Description"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="flex items-center">
      <label class="w-32 text-right mr-4" for="priority">Priority</label>
      <mat-form-field class="w-full">
        <mat-select
          formControlName="priority"
          id="priority"
          placeholder="Select Priority"
        >
          <mat-option
            *ngFor="let priority of priorities"
            [value]="priority.id"
            >{{ priority.priority }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="!isEpic" class="flex items-center">
      <label class="w-32 text-right mr-4" for="assignee">Assignee</label>
      <mat-form-field class="w-full">
        <mat-select
          formControlName="assignee"
          id="assignee"
          placeholder="Select Assignee"
        >
          <mat-option
            *ngFor="let assignee of assignees"
            [value]="assignee.id"
            >{{ assignee.userName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="!isEpic" class="flex items-center">
      <label class="w-32 text-right mr-4" for="epic">Epic</label>
      <mat-form-field class="w-full">
        <mat-select
          formControlName="epic"
          id="epic"
          placeholder="Select Epic Link"
        >
          <mat-option *ngFor="let epic of epics" [value]="epic.id">{{
            epic.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end gap-2 mt-6">
      <button
        mat-button
        mat-dialog-close
        class="text-gray-700 !font-normal !w-20"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        class="!font-normal !w-20"
        [disabled]="form.invalid"
        [ngClass]="{
          '!text-white !bg-[#0065FF] hover:bg-[#0065FF]': !form.invalid,
        }"
      >
        Create
      </button>
    </div>
  </form>
</div>
