<app-loader *ngIf="loading"></app-loader>
<div class="p-4">
  <h2>All board</h2>
  <app-boards-table
    *ngIf="boards.length !== 0"
    [displayedColumns]="displayedColumns"
    [boards]="boards"
  ></app-boards-table>
  <ng-container *ngIf="boards.length === 0">
    <div>No boards found</div>
  </ng-container>
  <!-- Add board Button -->
  <button
    (click)="addBoard()"
    mat-stroked-button
    color="primary"
    class="float-right mt-10 mr-2 font-normal !text-[#0052CC] transition duration-300"
  >
    Add Board
  </button>
</div>
