<div class="flex justify-center items-center min-h-screen bg-gray-50">
  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Login</h2>
    <form (submit)="onSubmit()" [formGroup]="loginForm" class="space-y-6">
      <!-- Email Field -->
      <mat-form-field appearance="outline" class="w-full">
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Enter your email"
        />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Enter a valid email address
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field appearance="outline" class="w-full">
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Enter your password"
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Login Button -->
      <button
        mat-raised-button
        color="primary"
        class="w-full py-3 font-medium !text-white !bg-[#0052CC] hover:bg-[#0052CC] transition duration-300"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
