/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.green-snackbar {
  background-color: #00853f !important;
  color: #fff !important;
}

.green-snackbar button {
  background-color: #00853f !important;
  color: #fff !important;
  border: none;
}

.red-snackbar {
  background-color: #9e1b32 !important;
  color: #fff !important;
}

.re-snackbar button {
  background-color: #9e1b32 !important;
  color: #fff !important;
  border: none;
}
